.secciones {
  background-color: rgb(255, 118, 18);
  color: white;
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 10px;
}

.btn {
  background-color: rgb(36, 47, 65);
  color: white;
  font-weight: bold;
  border: 2px solid black;
  margin: 0px 20px 10px 20px;
}
.btn:hover {
  background-color: rgb(255, 118, 18);
  border: 2px solid white;
  color: white;
}

.negrita {
  font-weight: bold;
  text-align: center;
}

.foto-sobre-nos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  padding: 5px;
  border-radius: 75px 75px 75px 75px;
}
@media (min-width: 480px) and (max-width: 1199px) {
  .foto-sobre-nos {
    width: 90%;
    height: auto;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .foto-sobre-nos {
    width: 90%;
    height: auto;
  }
}

.margin-sobre-nos {
  margin: 10px;
  text-align: center;
  grid-area: margin-sobre-nos;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: rgb(36, 47, 65);
  color: white;
  grid-area: header;
}
header .encabezado {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 300px) and (max-width: 479px) {
  header .encabezado {
    flex-direction: column;
  }
}
header .encabezado .logo {
  width: 100px;
  height: auto;
  padding: 0px 0px 0px 15px;
}
header .encabezado .logo:hover {
  width: 120px;
  height: auto;
}
header .encabezado .cbados {
  text-align: center;
  font-size: 3.5em;
  font-weight: 900;
  letter-spacing: 2px;
  text-shadow: 0 4px 0 #111;
  margin: 0px;
}
@media (min-width: 480px) and (max-width: 1199px) {
  header .encabezado .cbados {
    text-align: center;
    font-size: 2.5em;
    font-weight: 900;
    letter-spacing: 1px;
    text-shadow: 0 2px 0 #111;
    margin: 0px;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  header .encabezado .cbados {
    text-align: center;
    font-size: 2.5em;
    font-weight: 900;
    letter-spacing: 1px;
    text-shadow: 0 2px 0 #111;
    margin: 0px;
  }
}
header .encabezado .acompanante-titulo {
  font-size: 0.9em;
  line-height: 115%;
  margin: 1px;
}
@media (min-width: 480px) and (max-width: 1199px) {
  header .encabezado .acompanante-titulo {
    display: none;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  header .encabezado .acompanante-titulo {
    display: none;
  }
}
header .encabezado .centrar-titulo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
header .encabezado .redes-sociales {
  padding: 0px 15px 0px 0px;
  text-decoration: none;
  list-style-type: none;
}
header .encabezado .redes-sociales a {
  color: white;
}
header .encabezado .redes-sociales a:hover {
  color: rgb(255, 118, 18);
}
@media (min-width: 300px) and (max-width: 479px) {
  header .encabezado .redes-sociales {
    display: none;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  header .nav {
    display: flex;
    flex-direction: column;
  }
}
header .navbar {
  background-color: rgb(255, 118, 18);
  display: flex;
  justify-content: center;
  padding: 10px;
}
header .navbar .nav-link {
  color: white;
  font-weight: bold;
  display: inline;
  text-decoration: none;
  list-style-type: none;
  padding: 5px;
}
header .navbar .nav-link:hover {
  border: 1px solid white;
  background-color: rgb(36, 47, 65);
}
@media (min-width: 480px) and (max-width: 1199px) {
  header .navbar .navbar-toggler {
    color: white;
    display: flex;
    border: 2px solid black;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  header .navbar .navbar-toggler {
    color: white;
    display: flex;
    border: 2px solid black;
  }
}
header .navbar .nav-item {
  text-align: center;
}
@media (min-width: 480px) and (max-width: 1199px) {
  header .navbar .nav-item {
    margin: 5px;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  header .navbar .nav-item {
    margin: 5px;
  }
}
header .navbar .buscador {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
}
@media (min-width: 300px) and (max-width: 479px) {
  header .navbar .buscador {
    display: none;
  }
}
header .rounded {
  border: 2px solid black;
}
@media (min-width: 480px) and (max-width: 1199px) {
  header .rounded {
    margin: 7px;
  }
}

/*carrusel*/
.carrusel {
  display: flex;
  grid-area: carrusel;
  border: 1px solid #000000;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.carrusel .letra-carrusel {
  font-size: 32px;
  font-weight: bold;
}
@media (min-width: 480px) and (max-width: 1199px) {
  .carrusel .letra-carrusel {
    font-size: 1.5em;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .carrusel .letra-carrusel {
    font-size: 1.5em;
  }
}

/*Noticias*/
.noticias-grid {
  grid-area: noticias-grid;
  margin: 5px 20px 15px 20px;
  padding: 10px;
}
.noticias-grid .card {
  text-align: center;
  margin: 10px;
}
.noticias-grid .noticias-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

/*Youtube*/
.youtube-grid {
  grid-area: youtube-grid;
}
.youtube-grid .youtube-acomodo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.youtube-grid .youtube-1 {
  text-align: center;
  margin-bottom: 15px;
  max-width: 855px;
}
.youtube-grid .youtube {
  text-align: center;
  margin: 10px;
}
.youtube-grid .youtube-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (min-width: 480px) and (max-width: 1199px) {
  .youtube-grid .youtube-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .youtube-grid .youtube-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.youtube-grid .video-youtube-1 {
  width: 855px;
  height: 450px;
}
@media (min-width: 480px) and (max-width: 1199px) {
  .youtube-grid .video-youtube-1 {
    width: 415px;
    height: 230px;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .youtube-grid .video-youtube-1 {
    width: 270px;
    height: 150px;
  }
}
.youtube-grid .video-youtube {
  width: 415px;
  height: 230px;
}
@media (min-width: 300px) and (max-width: 479px) {
  .youtube-grid .video-youtube {
    width: 270px;
    height: 150px;
  }
}

/*sponsors*/
.sponsor-grid {
  grid-area: sponsor-grid;
  padding: 15px;
  margin-bottom: 20px;
}

.sponsor-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.sponsor-row .sponsor {
  margin: 10px;
}
@media (min-width: 480px) and (max-width: 1199px) {
  .sponsor-row .sponsor {
    margin: 40px;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .sponsor-row .sponsor {
    margin: 40px;
  }
}
.sponsor-row .img-sponsor {
  width: 110px;
  height: auto;
  border-radius: 75px 75px 75px 75px;
  border: 2px solid black;
}
.sponsor-row .img-sponsor:hover {
  width: 170px;
  height: auto;
  border: 5px solid rgb(255, 118, 18);
}
@media (min-width: 480px) and (max-width: 1199px) {
  .sponsor-row .img-sponsor {
    width: 50px;
    height: auto;
    border-radius: 75px 75px 75px 75px;
    border: 1px solid black;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .sponsor-row .img-sponsor {
    width: 50px;
    height: auto;
    border-radius: 75px 75px 75px 75px;
    border: 1px solid black;
  }
}

.columna-derecha {
  grid-area: columna-derecha;
  padding: 5px;
  border: 1px solid black;
  margin: 5px;
}
.columna-derecha .seccion-lateral {
  margin: 5px 10px 5px 10px;
}
.columna-derecha .seccion-lateral .lista-ordenada {
  font-weight: bold;
  margin: 5px 10px 5px 10px;
}
@media (min-width: 480px) and (max-width: 1199px) {
  .columna-derecha .lista-ordenada {
    text-align: center;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .columna-derecha .lista-ordenada {
    text-align: center;
  }
}
.columna-derecha .encuesta-lateral {
  margin: 5px 10px 5px 10px;
}
@media (min-width: 480px) and (max-width: 1199px) {
  .columna-derecha .encuesta-lateral {
    display: none;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .columna-derecha .encuesta-lateral {
    display: none;
  }
}
.columna-derecha .comunidad .margin-column {
  margin: 15px;
  text-align: center;
}
@media (min-width: 480px) and (max-width: 1199px) {
  .columna-derecha .comunidad {
    display: none;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .columna-derecha .comunidad {
    display: none;
  }
}
.columna-derecha .negrita {
  font-weight: bold;
  text-align: center;
}
.columna-derecha .tu-comentario .opinion-column {
  max-width: auto;
  height: auto;
}
@media (min-width: 480px) and (max-width: 1199px) {
  .columna-derecha .tu-comentario .opinion-column {
    max-width: 80%;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .columna-derecha .tu-comentario .opinion-column {
    max-width: 80%;
  }
}
.columna-derecha .btn {
  margin: 3px 75px 3px;
}
.columna-derecha .publicidad .publi-img {
  width: 90%;
  margin: 15px;
  padding: 15px;
}
.columna-derecha .publicidad .publi-img:hover {
  width: 94%;
}
@media (min-width: 480px) and (max-width: 1199px) {
  .columna-derecha .publicidad {
    display: none;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .columna-derecha .publicidad {
    display: none;
  }
}
.columna-derecha .seguimiento a {
  color: black;
  text-decoration: none;
}
.columna-derecha .seguimiento a:hover {
  color: orange;
  font-size: 16px;
}
.columna-derecha .margin-column {
  text-align: center;
  margin: 15px;
}
.columna-derecha .flex-opinion-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.secciones {
  background-color: rgb(255, 118, 18);
  color: white;
  font-weight: lighter;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 10px;
}

.btn {
  background-color: rgb(36, 47, 65);
  color: white;
  font-weight: bold;
  border: 2px solid black;
  margin: 0px 20px 10px 20px;
}
.btn:hover {
  background-color: rgb(255, 118, 18);
  border: 2px solid white;
  color: white;
}

.negrita {
  font-weight: bold;
  text-align: center;
}

.foto-sobre-nos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 700px;
  padding: 5px;
  border-radius: 75px 75px 75px 75px;
}
@media (min-width: 480px) and (max-width: 1199px) {
  .foto-sobre-nos {
    width: 90%;
    height: auto;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .foto-sobre-nos {
    width: 90%;
    height: auto;
  }
}

.margin-sobre-nos {
  margin: 10px;
  text-align: center;
  grid-area: margin-sobre-nos;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer {
  background-image: url(../assets/compe.jpg);
  color: white;
  font-family: "Poppins 300", sans-serif;
  display: flex;
  border: 1px solid;
  justify-content: space-around;
  padding: 5px;
  flex: 1;
  padding: 10px;
  margin: 1px;
  text-align: center;
  align-items: center;
  grid-area: seccion-footer;
}
@media (min-width: 480px) and (max-width: 1199px) {
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
footer .footer-col-1 {
  margin: 10px;
  text-align: center;
}
footer .footer-col-1 .map {
  width: 300px;
  height: 140px;
}
@media (min-width: 480px) and (max-width: 1199px) {
  footer .footer-col-1 .map {
    width: auto;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  footer .footer-col-1 .map {
    width: 250px;
    height: auto;
  }
}
footer li {
  list-style-type: none;
}
footer .footer-orange {
  color: white;
  text-decoration: none;
}
footer .footer-orange:hover {
  color: rgb(255, 118, 18);
}

.musibat {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  border: 0px solid transparent;
  margin: 10px;
  border-radius: 0% 0% 0% 0%;
}
@media (min-width: 480px) and (max-width: 1199px) {
  .musibat {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .musibat {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
  }
}
.musibat .img-musibat {
  width: 500px;
  height: 250px;
  margin-right: 5px;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  padding: 5px;
}
@media (min-width: 480px) and (max-width: 1199px) {
  .musibat .img-musibat {
    width: 90%;
    height: auto;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .musibat .img-musibat {
    width: 90%;
    height: auto;
    justify-content: center;
    align-items: center;
  }
}
.musibat .grid-musibat {
  grid-area: grid-musibat;
}

.grid-trabaja-con-nos {
  grid-area: grid-trabaja-con-nos;
  margin: 5px;
}
.grid-trabaja-con-nos form input {
  width: 275px;
  height: auto;
}
@media (min-width: 480px) and (max-width: 1199px) {
  .grid-trabaja-con-nos form input {
    width: auto;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .grid-trabaja-con-nos form input {
    width: auto;
  }
}
.grid-trabaja-con-nos .conteiner-trabaja-con-nos {
  padding: 15px;
  margin: 10px;
  background-image: url(../assets/E_PzOa3XIAEZQH_.jpg_large);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (min-width: 480px) and (max-width: 1199px) {
  .grid-trabaja-con-nos .conteiner-trabaja-con-nos {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .grid-trabaja-con-nos .conteiner-trabaja-con-nos {
    flex-direction: column;
    align-items: center;
  }
}
.grid-trabaja-con-nos .conteiner-trabaja-con-nos .form-label {
  width: auto;
  text-align: center;
}
.grid-trabaja-con-nos .conteiner-trabaja-con-nos input {
  margin: 10px;
}
.grid-trabaja-con-nos .conteiner-trabaja-con-nos .form-label {
  color: white;
  font-weight: 700;
  font-style: italic;
}

.grid-sobre-nos {
  grid-area: grid-sobre-nos;
}
.grid-sobre-nos .sobre-nos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.grid-container-gal {
  text-align: center;
  padding: 8px;
  margin: 8px;
}
.grid-container-gal .grid-galeria {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-area: grid-galeria;
}
.grid-container-gal .row-gal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
@media (min-width: 300px) and (max-width: 479px) {
  .grid-container-gal .row-gal {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.grid-container-gal .titulo-top {
  text-align: center;
  font-weight: bold;
}
.grid-container-gal .top-video {
  width: 460px;
  height: 255px;
  padding: 7px;
  margin: 8px;
}
@media (min-width: 480px) and (max-width: 1199px) {
  .grid-container-gal .top-video {
    width: 90%;
    height: auto;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .grid-container-gal .top-video {
    width: 270px;
    height: 150px;
  }
}

.grid-container {
  display: grid;
  grid-template-areas: "header header header" "carrusel carrusel columna-derecha" "noticias-grid noticias-grid columna-derecha" "youtube-grid youtube-grid columna-derecha" "youtube-grid youtube-grid columna-derecha" "sponsor-grid sponsor-grid columna-derecha" "seccion-footer seccion-footer seccion-footer";
  grid-template-columns: 2fr 2fr 1fr;
}
@media (min-width: 480px) and (max-width: 1199px) {
  .grid-container {
    grid-template-areas: "header header" "carrusel carrusel" "noticias-grid noticias-grid" "youtube-grid youtube-grid" "youtube-grid youtube-grid" "sponsor-grid sponsor-grid" "columna-derecha columna-derecha" "seccion-footer seccion-footer";
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .grid-container {
    grid-template-areas: "header header" "carrusel carrusel" "noticias-grid noticias-grid" "youtube-grid youtube-grid" "youtube-grid youtube-grid" "sponsor-grid sponsor-grid" "columna-derecha columna-derecha" "seccion-footer seccion-footer";
    grid-template-columns: 1fr 1fr;
  }
}

.grid-container-musibat {
  display: grid;
  grid-template-areas: "header header header" "grid-musibat grid-musibat columna-derecha" "grid-musibat grid-musibat columna-derecha" "grid-musibat grid-musibat columna-derecha" "sponsor-grid sponsor-grid columna-derecha" "seccion-footer seccion-footer seccion-footer";
  grid-template-columns: 3fr 1fr 1fr;
}
@media (min-width: 480px) and (max-width: 1199px) {
  .grid-container-musibat {
    grid-template-areas: "header" "grid-musibat" "grid-musibat" "sponsor-grid" "columna-derecha" "seccion-footer";
    grid-template-columns: 1fr;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .grid-container-musibat {
    grid-template-areas: "header" "grid-musibat" "grid-musibat" "sponsor-grid" "columna-derecha" "seccion-footer";
    grid-template-columns: 1fr;
  }
}

.grid-container-sobre-nos {
  display: grid;
  grid-template-areas: "header header header" "grid-sobre-nos grid-sobre-nos columna-derecha" "grid-sobre-nos grid-sobre-nos columna-derecha" "grid-sobre-nos grid-sobre-nos columna-derecha" "sponsor-grid sponsor-grid columna-derecha" "seccion-footer seccion-footer seccion-footer";
  grid-template-columns: 2fr 2fr 1fr;
}
@media (min-width: 480px) and (max-width: 1199px) {
  .grid-container-sobre-nos {
    grid-template-areas: "header header" "grid-sobre-nos grid-sobre-nos" "grid-sobre-nos grid-sobre-nos" "sponsor-grid sponsor-grid" "columna-derecha columna-derecha" "seccion-footer seccion-footer";
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .grid-container-sobre-nos {
    grid-template-areas: "header header" "grid-sobre-nos grid-sobre-nos" "grid-sobre-nos grid-sobre-nos" "sponsor-grid sponsor-grid" "columna-derecha columna-derecha" "seccion-footer seccion-footer";
    grid-template-columns: 1fr 1fr;
  }
}

.grid-container-trabaja-con-nos {
  display: grid;
  grid-template-areas: "header header header" "margin-sobre-nos margin-sobre-nos columna-derecha" "grid-trabaja-con-nos grid-trabaja-con-nos columna-derecha" "grid-trabaja-con-nos grid-trabaja-con-nos columna-derecha" "sponsor-grid sponsor-grid columna-derecha" "seccion-footer seccion-footer seccion-footer";
  grid-template-columns: 2fr 2fr 1fr;
}
@media (min-width: 480px) and (max-width: 1199px) {
  .grid-container-trabaja-con-nos {
    grid-template-areas: "header header" "margin-sobre-nos margin-sobre-nos" "grid-trabaja-con-nos grid-trabaja-con-nos" "sponsor-grid sponsor-grid" "columna-derecha columna-derecha" "seccion-footer seccion-footer";
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .grid-container-trabaja-con-nos {
    grid-template-areas: "header header" "margin-sobre-nos margin-sobre-nos" "grid-trabaja-con-nos grid-trabaja-con-nos" "sponsor-grid sponsor-grid" "columna-derecha columna-derecha" "seccion-footer seccion-footer";
    grid-template-columns: 1fr 1fr;
  }
}

.grid-container-galeria {
  display: grid;
  grid-template-areas: "header header" "grid-galeria columna-derecha" "grid-galeria columna-derecha" "grid-galeria columna-derecha" "sponsor-grid columna-derecha" "seccion-footer seccion-footer";
  grid-template-columns: 4fr 1fr;
}
@media (min-width: 480px) and (max-width: 1199px) {
  .grid-container-galeria {
    grid-template-areas: "header" "grid-galeria" "grid-galeria" "sponsor-grid" "columna-derecha" "seccion-footer";
    grid-template-columns: 1fr;
  }
}
@media (min-width: 300px) and (max-width: 479px) {
  .grid-container-galeria {
    grid-template-areas: "header" "grid-container-gal" "grid-galeria" "sponsor-grid" "columna-derecha" "seccion-footer";
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=style.css.map */
